 /* ----------------------------------------
    汎用
 ----------------------------------------*/
 
 @charset "UTF-8";
 body {
     color: #222222;
     font-family: "メイリオ";
     font-size: 16px;
     /* 全体を中央ぞろえ */
     margin: auto;
 }
 
 ul {
     list-style: none;
 }
 /* ----------------------------------------
    ヘッダー
 ----------------------------------------*/
 
 .header-countainer {
     /* 並列にする */
     display: flex;
     /* アイテムを中央付近にまとめる */
     align-items: center;
     justify-content: space-between;
     background-color: #78BBE6;
 }
 
 .header-countainer img {
     width: 40px;
 }
 
 .header-left {
     display: flex;
     margin: 10px 15px;
 }
 
 .header-right {
     display: flex;
     margin: 10px 15px;
 }
 
 .header-right li {
     margin: 0 10px 0 0;
 }