@charset "UTF-8";

/* ----------------------------------------
    PC用
 ----------------------------------------*/

@media only screen and (min-width: 737px) {
    body {
        position: absolute;
        width: 100%;
        min-height: 1040px;
        color: #000;
        font-family: "DotGothic16", sans-serif;
        background: #fff;
    }
    input::placeholder,
    textarea::placeholder {
        color: #89abd4;
    }
    /* ----------------------------------------
        ヘッダー
    ----------------------------------------*/
    .site-header {
        position: relative;
        text-align: center;
        justify-content: center;
        margin: 13px o;
        padding: 10px;
        min-width: 960px;
        font-size: 32px;
        background: #78bbe6;
        color: #fff;
    }
    .header {
        position: relative;
        width: 960px;
        margin: 0 auto;
        padding: 8px 0;
        text-align: center;
        height: 88px;
        font-size: 64px;
    }
    .header p {
        line-height: 88px;
    }
    /* ----------------------------------------
        教室
    ----------------------------------------*/
    main {
        position: relative;
        height: 580px;
        margin-top: 30px;
        background: url(../img/studyroom_48.png) top left no-repeat;
        width: 960px;
        margin: 0 auto;
    }
    main #chara {
        position: absolute;
        left: 345px;
        top: 2px;
        width: 270px;
        pointer-events: none;
    }
    main #chara img {
        width: 100%;
    }
    .studyroom {
        margin: 0 auto 0;
        position: relative;
        padding-top: 145px;
    }
    .btn-area {
        width: 680px;
        margin: 0 auto;
        position: relative;
        padding: 200px 0 0;
    }
    .btn-day,
    .btn-text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .btn-set {
        text-align: center;
        margin: 30px 0 0;
    }
    /* ----------------------------------------
        記録
    ----------------------------------------*/
    table {
        margin: 10px auto;
        border: 1px solid #1b435d;
        width: 920px;
    }
    th {
        width: 30%;
        font-size: 24px;
        color: #fff;
        background-color: #78bbe6;
        border-bottom: 1px solid #1b435d;
        vertical-align: middle;
    }
    td {
        font-size: 24px;
        background-color: #fff;
        border-bottom: 1px solid #1b435d;
        padding: 10px;
        vertical-align: middle;
    }
    /* ----------------------------------------
        フッター
    ----------------------------------------*/
    .footer {
        width: 100%;
        bottom: 0;
        margin-top: 30px;
        min-width: 960px;
    }
    .footer-link,
    .copyright {
        text-align: center;
        margin-bottom: 20px;
    }
}


/* ----------------------------------------
        モーダルウィンドウ
    ----------------------------------------*/


/* モーダルウィンドウ */

.modal-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: #78bbe6;
    border-radius: 5px;
    padding: 2rem;
    z-index: 20;
    text-align: center;
    font-size: 32px;
}

.edit-title {
    margin: 0 0 20px;
}


/* 閉じるボタン */

.button-close {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 10px;
    background-color: #F99F48;
    color: #eaeaea;
    border-radius: 2rem;
    cursor: pointer;
    z-index: 20;
    font-family: "DotGothic16", sans-serif;
    font-size: 32px;
}


/* オーバーレイ */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}


/* スクロール禁止 */

.no_scroll {
    overflow: hidden;
}


/* ----------------------------------------
    スマホ用
 ----------------------------------------*/

@media only screen and (max-width: 736px) {}