@charset "UTF-8";

/* ----------------------------------------
    PC用
 ----------------------------------------*/

@media only screen and (min-width: 737px) {
    body {
        position: absolute;
        width: 100%;
        min-height: 1040px;
        color: #000;
        font-family: 'DotGothic16', sans-serif;
        background: #fff;
    }
    /* ----------------------------------------
        ヘッダー
    ----------------------------------------*/
    .site-header {
        position: relative;
        text-align: center;
        margin: 13px o;
        height: 40px;
        min-width: 960px;
        font-size: 32px;
        background: #78BBE6;
        color: #fff;
    }
    .header {
        position: relative;
        width: 960px;
        margin: 0 auto;
        padding: 8px 0;
        text-align: center;
        height: 88px;
        font-size: 64px;
    }
    .header p {
        line-height: 88px;
    }
    /* ----------------------------------------
        教室
    ----------------------------------------*/
    main {
        position: relative;
        height: 580px;
        margin-top: 30px;
        background: url(../img/studyroom_48.png) top left no-repeat;
        width: 960px;
        margin: 0 auto;
    }
    main #chara {
        position: absolute;
        left: 329px;
        top: 2px;
        width: 270px;
        pointer-events: none;
    }
    main #chara img {
        width: 100%;
    }
    .studyroom {
        margin: 0 auto 0;
        position: relative;
        padding-top: 145px;
    }
    .btn-area {
        width: 680px;
        margin: 0 auto;
        position: relative;
        padding: 200px 0 0;
    }
    .btn-day {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input {
        height: 48px;
        width: 150px;
        text-align: center;
        font-family: 'DotGothic16', sans-serif;
    }
    .btn-set {
        text-align: center;
        margin: 30px 0 0;
    }
    /* ----------------------------------------
        記録
    ----------------------------------------*/
    table {
        margin: 10px auto;
        border: 1px solid #1B435D;
        width: 920px;
    }
    th {
        width: 30%;
        font-size: 24px;
        color: #fff;
        background-color: #78BBE6;
        border-bottom: 1px solid #1B435D;
        vertical-align: middle;
    }
    td {
        font-size: 24px;
        background-color: #fff;
        border-bottom: 1px solid #1B435D;
        padding: 10px;
        vertical-align: middle;
    }
    /* ----------------------------------------
        フッター
    ----------------------------------------*/
    .footer {
        width: 100%;
        bottom: 0;
        margin-top: 30px;
        min-width: 960px;
    }
    .footer-link,
    .copyright {
        text-align: center;
        margin-bottom: 20px;
    }
}


/* ----------------------------------------
    スマホ用
 ----------------------------------------*/

@media only screen and (max-width: 736px) {}