/* ----------------------------------------
    汎用
 ----------------------------------------*/

@charset "UTF-8";
body {
    color: #222222;
    font-size: 16px;
    margin: auto;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

ul {
    list-style: none;
}

p {
    margin: 10px 0;
}


/* ----------------------------------------
ヘッダー
 ----------------------------------------*/

header {
    /* 並列にする */
    display: flex;
    /* アイテムを中央付近にまとめる */
    align-items: center;
    justify-content: flex-end;
    background-color: #222222;
    position: fixed;
    width: 100%;
}

.navigation {
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    display: flex;
}

nav li a {
    color: #fff;
}


/* ----------------------------------------
    トップページ
  ----------------------------------------*/

.main-container {
    text-align: center;
    margin: 40px 0 0;
}

.detail-container,
.enter-container {
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 30px;
}

.enter-container {
    width: 200px;
}

.detail-container div {
    margin: 20px 0;
}

.title {
    font-size: 48px;
}

.avatar-list {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-image: url(../img/about.png);
}

.avatar-list img {
    width: 30px;
    margin: 0 15px 10px;
}

.enter-btn {
    background-color: #F99F48;
    padding: 10px 0;
    border-radius: 10px;
    color: #fff;
}


/* ----------------------------------------
    スマホ対応
  ----------------------------------------*/

@media only screen and (max-width: 736px) {
    /* Style adjustments for viewports 640px and under go here */
    html {
        height: auto;
    }
    .main-container {
        padding: 10px 0;
        text-align: center;
    }
}


/* ----------------------------------------
    PC対応
  ----------------------------------------*/

@media only screen and (min-width: 737px) {
    /* Style adjustments for viewports 641px and over go here */
    html {
        height: auto;
        background: #FFF;
    }
    body {
        height: 100%;
        background: transparent;
        position: relative;
        min-width: 920px;
    }
    .main-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
    }
}