/* ----------------------------------------
    汎用
 ----------------------------------------*/

@charset "UTF-8";
html {
    height: auto;
    font-size: 62.5%;
}

body {
    color: #222222;
    font-size: 1.6rem;
    margin: auto;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

ul {
    list-style: none;
}

p {
    margin: 10px 0;
}

dt {
    margin: 10px 0;
}


/* ----------------------------------------
ヘッダー
 ----------------------------------------*/

header {
    /* 並列にする */
    display: flex;
    /* アイテムを中央付近にまとめる */
    align-items: center;
    justify-content: flex-end;
    background-color: #222222;
    position: fixed;
    width: 100%;
    height: 48px;
}

.navigation-index {
    /* 表示非表示はdisplay: none;とdisplay: block;を切り替える */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-list {
    margin: 0 0 60px;
    text-align: center;
}

.nav-item {
    display: block;
    padding: 84px 0 0;
}

.site-title {
    padding: 64px 0 0;
}

nav li a {
    color: #fff;
    margin: 0 10px;
    display: block;
}

.btn-trigger {
    appearance: none;
    -webkit-appearance: none;
    display: block;
    position: fixed;
    right: 10px;
    width: 40px;
    z-index: 100;
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    -webkit-tap-highlight-color: #222222;
}


/* ハンバーガーメニューをバツ印にする */

.btn-trigger.active use:nth-of-type(1) {
    transform: translateY(30px) rotate(-45deg);
}

.btn-trigger.active use:nth-of-type(2) {
    opacity: 0;
}

.btn-trigger.active use:nth-of-type(3) {
    transform: translateX(35px) translateY(-15px) rotate(45deg);
}


/* ----------------------------------------
    トップページ
  ----------------------------------------*/

.main-container,
.main-container-index {
    box-sizing: border-box;
    text-align: center;
    margin: 40px 0 0;
    padding: 10px 0;
}

.detail-container,
.btn-container {
    align-items: center;
    /* justify-content: space-between; */
    margin: 0 auto 30px;
}

.btn-container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
}

.detail-container div {
    margin: 20px 0;
}

.title {
    font-size: 4.8rem;
    font-family: 'Sarpanch', sans-serif;
}

.description-container {
    display: flex;
    justify-content: center;
}

.avatar-list {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 80%;
    height: 350px;
    background-image: url(../img/about.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.avatar-list img {
    width: 30px;
    margin: 0 15px 10px;
}

.enter-btn {
    background-color: #F99F48;
    padding: 10px 0;
    border-radius: 10px;
    color: #fff;
}


/* ----------------------------------------
    PC対応
  ----------------------------------------*/

@media only screen and (min-width: 737px) {
    /* Style adjustments for viewports 641px and over go here */
    html {
        height: auto;
        background: #FFF;
    }
    body {
        height: 100%;
        background: transparent;
        position: relative;
        min-width: 920px;
    }
    /* ----------------------------------------
    ヘッダー
     ----------------------------------------*/
    .btn-trigger {
        display: none;
    }
    .navigation-index {
        font-size: 1.6rem;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
        top: 0;
    }
    .nav-list {
        display: flex;
        margin: 0;
    }
    .nav-item {
        padding: 0;
    }
    /* ----------------------------------------
    トップ
     ----------------------------------------*/
    .main-container-index {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
    }
    .btn-container {
        width: 300px;
    }
    .avatar-list {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 350px;
        background-image: url(../img/about.png);
    }
}